@CHARSET "ISO-8859-1";

#tableChat>tbody>tr>td,
#tableChat>tbody>tr>th,
#tableChat>tfoot>tr>td,
#tableChat>tfoot>tr>th,
#tableChat>thead>tr>td,
#tableChat>thead>tr>th{
    border-top: none;
}

#tableChat>tbody>tr>td:nth-child(2){
    text-align: right;
}

.chatMessage{
    padding: 10px;
    line-height: 200%;
}

#friendsFooterContainer{
    text-align: center;
}