{% extends "../base.html" %} 

{% block titulo %} Amigos {%endblock %} 

{% block contenido_principal %}

<h2>Tus Amigos</h2>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			{% for friend in friends %}
			<tr>
				<td>{{ friend.name }}</td>
				<td>{{ friend.email }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!-- Incluimos el sistema de paginación -->
{% include "../fragments/pagination.html" with {url: "/user/friends"} %}

{% endblock %}