doctype html
html
  head
    title= title
    link(rel="shortcut icon", href="images/favicon.png", type="image/x-icon")
    //- link(rel="stylesheet", type="text/css", href="css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
    //- link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    // Enlace a Bootstrap CSS
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", rel="stylesheet")
    block content

    // Enlace a jQuery
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    // Enlace a Bootstrap JS (popper.js es necesario si usas componentes de Bootstrap que requieren elementos emergentes)
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")

