extends ../layout/feed

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      // Logo de la aplicación a la derecha
      img.logo-app(src="img/logo.png", alt="Logo de la App", style="max-height: 90px;")

      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        // Barra de búsqueda en el navbar, estilo tipo Facebook
        form.navbar-form.ml-auto
          .input-group
            input.form-control(type="text", placeholder="Buscar en TechConnectU", class="search-bar")
            .input-group-append
              span.input-group-text
                i.fa.fa-search
                // Añadido este código para que el icono de la barra de búsqueda sea más grande
                span.sr-only (Requerido)

        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="#") Inicio
          li.nav-item
            a.nav-link(href="#") Explorar
          li.nav-item
            a.nav-link(href="#") Notificaciones
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#", id="navbarDropdown", role="button", data.toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              div.navbar-profile.d-flex.align-items-center
                img.navbar-profile-img.rounded-circle(src="images/user.jpg", alt="User", style="max-height: 32px; height: auto;")
                span.navbar-profile-name #{username}
                i.fa.fa-angle-down
              .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdown")
                a.dropdown-item(href="#") Perfil
                a.dropdown-item(href="#") Listas
                a.dropdown-item(href="#") Temas
                a.dropdown-item(href="#") Momentos
                .dropdown-divider
                a.dropdown-item(href="#") Configuración y privacidad
                a.dropdown-item(href="#") Cerrar sesión


  .container
    .row
      .col-md-3
        // Barra lateral izquierda
        .sidebar
          // Coloca aquí elementos de la barra lateral izquierda

      .col-md-6
        // Contenido principal
        // Cuadro de publicación, estilo tipo Facebook
        br
        .card.mb-4
          .card-body
            .d-flex
              img.navbar-profile-img.rounded-circle(src="images/user.jpg", alt="User", style="max-width: 80px; height: auto; margin:4px;")
              textarea#contenido.form-control(name="contenido", rows="4", placeholder="¿Qué estás pensando en TechConnectU?")
            .mt-3.text-right
              button.btn.btn-primary(type="button", onclick="window.location.href='/crear-publicacion'")
                    i.fa.fa-pencil
                    |  Publicar


        each publicacion in publicaciones
          .card.mb-4
            .card-body
              p.card-text= publicacion.contenido
              hr

        // Modal para crear una nueva publicación
        .modal#publicarModal(tabindex="-1", role="dialog")
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h5.modal-title Nuevo publicación
                button.close(data-dismiss="modal", aria-label="Close")
                  span(aria-hidden="true") ×
              .modal-body
                // Formulario para crear una nueva publicación
                form(action="/", method="POST")
                  .form-group
                    textarea#contenido.form-control(name="contenido", rows="4", placeholder="¿Qué estás pensando?")
                .modal-footer
                    button.btn.btn-secondary(data-dismiss="modal") Cancelar
                    button.btn.btn-primary(type="submit", data-dismiss="modal") Publicación

      .col-md-3
        // Barra lateral derecha
        .sidebar
          // Coloca aquí elementos de la barra lateral derecha
