extends ../layout/feed

block content
  div.navbar
    div.navbar_menuicon#navicon
      i.fa.fa-navicon
    div.navbar_logo
      img(src="images/logo.png", alt="")
    div.navbar_page
      span FEED
    div.navbar_search
      form(method="", action="/")
        input(type="text", placeholder="Search people..")
        button
          i.fa.fa-search
    div.navbar_icons
      ul
        li#friendsmodal
          i.fa.fa-user-o
          span#notification 5
        li#messagesmodal
          i.fa.fa-comments-o
          span#notification 2
        a(href="", style="color: white")
          li
            i.fa.fa-globe
    div.navbar_user#profilemodal(style="cursor: pointer")
      img(src="images/user.jpg", alt="")
      span#navbar_user_top #{username}
        br
        p User
      i.fa.fa-angle-down


  // Código de las publicaciones
  div.rowfixed
    each publicacion in publicaciones
      div.left_row
        div.left_row_profile
          img#portada(src="images/portada.jpg")
          div.left_row_profile
            img#profile_pic(src="images/user.jpg")
            span= publicacion.autor
            p #{publicacion.likes} followers / #{publicacion.compartidos} follow
        div.rowmenu
          ul
            li
              a(href="index.html")
                i.fa.fa-globe Newsfeed
            li
              a(href="profile.html")
                i.fa.fa-user Profile
            li
              a(href="friends.html")
                i.fa.fa-users Friends
            li.primarymenu Explore
              ul
                li(style="border:none")
                  a(href="#A") Activity
                li(style="border:none")
                  a(href="#") Friends
                li(style="border:none")
                  a(href="#") Groups
                li(style="border:none")
                  a(href="#") Pages
                li(style="border:none")
                  a(href="#") Saves
            li.primarymenu Rapid Access
              ul
                li(style="border:none")
                  a(href="#") Your-Page.html
                li(style="border:none")
                  a(href="#") Your-Group.html
        div.right_row
          div.row.border-radius
            div.feed
              div.feed_title
                img(src="images/user-7.jpg", alt="")
                span
                  b Marina Valentine
                  | shared a
                  a(href="#") photo
                  br
                  p March 2 at 6:05pm
              div.feed_content
                div.feed_content_image
                  img(src="images/photo-1.jpg", alt="")
              div.feed_footer
                ul.feed_footer_left
                  li.hover-orange.selected-orange
                    i.fa.fa-heart
                    | 22k
                  li
                    span
                      b Jimmy, Andrea
                      | and 47 more liked this
                ul.feed_footer_right
                  li
                    li.hover-orange.selected-orange
                      i.fa.fa-share
                      | 7k
                  li.hover-orange
                    i.fa.fa-comments-o
                    | 860 comments
              div.feedcomments
                ul
                  li
                    div.feedcomments-user
                      img(src="images/user-6.jpg")
                      span
                        b Mathilda Brinker
                        br
                        p 38 mins ago
                    div.feedcomments-comment
                      p
                        | Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem ipsum quia dolor sit amet, consectetur adipisci velit en lorem ipsum duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                    div.feedcomments-foot
                      i.fa.fa-heart
                      span 3 likes
                      p
                        a(href="#")
                          i.fa.fa-reply
                          | reply
                  li
                    div.feedcomments-user
                      img(src="images/user.jpg")
                      span
                        b Jonh Hamstrong
                        br
                        p 1 hour ago
                    div.feedcomments-comment
                      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.
                    div.feedcomments-foot
                      i.fa.fa-heart
                      span 44 likes
                      p
                        a(href="#")
                          i.fa.fa-reply
                          | reply
              center
                a(href="")
                  div.loadmorefeed
                    i.fa.fa-ellipsis-h
          div.suggestions_row
            div.row.shadow
              div.row_title
                span Friend Suggestions
                a(href="friends.html") see more..
              div.row_contain
                img(src="images/user-7.jpg", alt="")
                span
                  b Francine Smith
                  | 8 Friends in Common
                button +
              div.row_contain
                img(src="images/user-2.jpg", alt="")
                span
                  b Hugh Wilson
                  | 6 Friends in Common
                button +
              div.row_contain
                img(src="images/user-6.jpg", alt="")
                span
                  b Karen Masters
                  | 6 Friends in Common
                button +
            div.row.shadow
              div.row_title
                span Activity Feed
              div.row_contain
                img(src="images/user-7.jpg", alt="")
                span
                  | Marina Polson commented on Jason Mark’s
                  a(href="" class="selected-orange") photo
                  | ..
              div.row_contain
                img(src="images/user-2.jpg", alt="")
                span
                  | Jake Parker liked Nicholas Grissom’s
                  a(href="" class="selected-orange") status update
                  | ..
              // Agrega más elementos de actividad aquí
            div.row.shadow
              div.row_title
                span Pages You May Like
                a(href="#") see more..
              div.row_contain
                img(src="images/group-1.png", alt="")
                span
                  a(href="")
                    b The Marina Bar
                  | Restaurant / Bar
              div.row_contain
                img(src="images/group-2.jpg", alt="")
                span
                  a(href="")
                    b Caverna Roch
                  | Rock / Band
              // Agrega más páginas recomendadas aquí
